@font-face {
	font-family: 'Swiss EX';
	src: url('../fonts/swis721_ex_bt_roman.eot');
	src: url('../fonts/swis721-ex-bt-roman.ttf') format('truetype'),
		 url('../fonts/swis721-ex-bt-roman.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Swiss LT';
	src: url('../fonts/swis721_lt_bt_light.eot');
	src: url('../fonts/swis721-lt-bt-light.ttf') format('truetype'),
		 url('../fonts/swis721-lt-bt-light.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

body {
	padding: 0;
	margin: 0;
	background-color: white;
	font-family: 'Swiss EX';
}

.cut-marge{
	padding-right: 10px!important;
	padding-left: 10px!important;
}

.logo{
	max-width: 76px!important;
	max-height:76px!important;
}

.red-admin{
	background-color: rgba(255,0,0,0.5)!important;
	text-align: center;
}

.form-holder {
	background: rgba(255,255,255,0.2);
	margin-top: 10%;
	border-radius: 3px;
}

.form-holder-connexion{
	margin-top: 200px;
}

.marge{
	margin-top:300px!important;
}

.form-head {
	font-size: 30px;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: black;
	text-shadow: 0 0 30px #000;
	margin: 15px auto 30px auto;
}


.ui.inverted.menu:hover{
	transition-property: background;
	transition-duration: 1s;
	background: #000000!important;
}

.ui.inverted.menu:hover > a.item{
	transition-property: color;
	transition-duration: 1s;
	color:white!important;
}

.ui.inverted.menu:hover > a.active{
	transition-property: background,color;
	transition-duration: 1s;
	color:white!important;
	background: #000000!important;
}

.flex-contain{
	display: flex!important;
}

.flex-centered{
	display: flex;
	align-items: center;
}

.mid{
	margin-top: 10%;
}

.cinquo{
	width :20%!important;
	text-align: justify;
	display: flex!important;
}

.paragraphe{
	margin:auto!important;
}

.align{
	text-align: center;
}

.flex-contain{
	display: flex;
}

.align-vertical{
	margin: auto;
}

.remember-me {
	text-align: left;
}

.ui.checkbox label {
	color: #ddd;
}

.ui.grid.main{
	margin-top: 70px;
}


.mobile.row{
	padding-top: 0px !important;
	margin-top: 0px !important;
}

.mobile.row .ui.inverted.menu{
	border-radius: 0px !important;
}

.padding-reset{
	padding: 0px !important;
}

.ui.message{
	padding: 40px !important;
}

@media (max-width: 767px) {
	.ui.grid.main{
		margin-top: 70px;
	}

.ui.grid { margin: 0 !important; }
	.ui.vertical.menu.navbar{
		margin-top: 0px !important;
	}
}

.ui.vertical.menu{
	margin-top: -15px !important;
	width: 100%;
	display: none;
}
